<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848470698329-7m6mhcdvhgnsfs1lu9rntp3g1fun5fso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848470698329-7m6mhcdvhgnsfs1lu9rntp3g1fun5fso</string>
	<key>API_KEY</key>
	<string>AIzaSyDBLyJULmzUGUKXypHBegcqEqehC_3T62U</string>
	<key>GCM_SENDER_ID</key>
	<string>848470698329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prog31975.BusApp</string>
	<key>PROJECT_ID</key>
	<string>busapp-2a098</string>
	<key>STORAGE_BUCKET</key>
	<string>busapp-2a098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848470698329:ios:f4eed3246f27c7a74c8448</string>
	<key>DATABASE_URL</key>
	<string>https://busapp-2a098.firebaseio.com</string>
</dict>
</plist>